<?xml version="1.0"?>
<!--
/**
 * @author      Luan Silva
 * @copyright   2025 The Dev Kitchen (https://www.thedevkitchen.com.br)
 * @license     https://www.thedevkitchen.com.br  Copyright
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- JWT Configuration for cross-domain authentication -->
    <virtualType name="TheDevKitchenJwtCrossDomainContentCreator" type="Magento\Framework\Jwt\JwtManager">
        <arguments>
            <argument name="jwtConfigPool" xsi:type="array">
                <item name="jwt-cross-domain" xsi:type="object">TheDevKitchenJwtCrossDomainConfig</item>
            </argument>
            <argument name="defaultJwtConfigId" xsi:type="string">jwt-cross-domain</argument>
        </arguments>
    </virtualType>

    <virtualType name="TheDevKitchenJwtCrossDomainConfig" type="Magento\Framework\Jwt\EncryptionSettingsInterface">
        <arguments>
            <argument name="encryptionMethod" xsi:type="string">RS256</argument>
        </arguments>
    </virtualType>
    
    <!-- Configuração para a classe Config com suas dependências -->
    <type name="TheDevKitchen\JwtCrossDomainAuth\Model\Config">
        <arguments>
            <argument name="scopeConfig" xsi:type="object">Magento\Framework\App\Config\ScopeConfigInterface</argument>
            <argument name="encryptor" xsi:type="object">Magento\Framework\Encryption\EncryptorInterface</argument>
            <argument name="deploymentConfig" xsi:type="object">Magento\Framework\App\DeploymentConfig</argument>
            <argument name="urlBuilder" xsi:type="object">Magento\Framework\UrlInterface</argument>
        </arguments>
    </type>
    
    <type name="TheDevKitchen\JwtCrossDomainAuth\Controller\Token\Index">
        <arguments>
            <argument name="jwtManager" xsi:type="object">TheDevKitchenJwtCrossDomainContentCreator</argument>
            <argument name="logger" xsi:type="object">TheDevKitchen\JwtCrossDomainAuth\Logger\VirtualLogger</argument>
        </arguments>
    </type>
    
    <!-- Configure Login controller to use the same JWT manager -->
    <type name="TheDevKitchen\JwtCrossDomainAuth\Controller\Login\Index">
        <arguments>
            <argument name="jwtManager" xsi:type="object">TheDevKitchenJwtCrossDomainContentCreator</argument>
            <argument name="logger" xsi:type="object">TheDevKitchen\JwtCrossDomainAuth\Logger\VirtualLogger</argument>
        </arguments>
    </type>
    
    <!-- Token Service implementation -->
    <preference for="TheDevKitchen\JwtCrossDomainAuth\Service\TokenServiceInterface" 
                type="TheDevKitchen\JwtCrossDomainAuth\Service\TokenService" />
    
    <!-- Token service dependencies -->
    <type name="TheDevKitchen\JwtCrossDomainAuth\Service\TokenService">
        <arguments>
            <argument name="generator" xsi:type="object">TheDevKitchen\JwtCrossDomainAuth\Model\Token\Generator</argument>
            <argument name="validator" xsi:type="object">TheDevKitchen\JwtCrossDomainAuth\Model\Token\Validator</argument>
        </arguments>
    </type>
    
    <!-- Generator dependencies -->
    <type name="TheDevKitchen\JwtCrossDomainAuth\Model\Token\Generator">
        <arguments>
            <argument name="jwtManager" xsi:type="object">Magento\Framework\Jwt\JwtManagerInterface</argument>
            <argument name="config" xsi:type="object">TheDevKitchen\JwtCrossDomainAuth\Model\Config</argument>
        </arguments>
    </type>
    
    <!-- Validator dependencies -->
    <type name="TheDevKitchen\JwtCrossDomainAuth\Model\Token\Validator">
        <arguments>
            <argument name="jwtManager" xsi:type="object">Magento\Framework\Jwt\JwtManagerInterface</argument>
            <argument name="config" xsi:type="object">TheDevKitchen\JwtCrossDomainAuth\Model\Config</argument>
        </arguments>
    </type>
    
    <!-- Register console commands -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="thedevkitchen_jwt_test" xsi:type="object">TheDevKitchen\JwtCrossDomainAuth\Console\Command\TestJwtService</item>
                <item name="thedevkitchen_jwt_generate" xsi:type="object">TheDevKitchen\JwtCrossDomainAuth\Console\Command\GenerateToken</item>
            </argument>
        </arguments>
    </type>
    
    <!-- Logger Configuration -->
    <type name="TheDevKitchen\JwtCrossDomainAuth\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <virtualType name="TheDevKitchen\JwtCrossDomainAuth\Logger\VirtualLogger" type="TheDevKitchen\JwtCrossDomainAuth\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">jwt_auth</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">TheDevKitchen\JwtCrossDomainAuth\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    
    <!-- Preference for AuthEventInterface implementation -->
    <preference for="TheDevKitchen\JwtCrossDomainAuth\Api\Data\AuthEventInterface" 
                type="TheDevKitchen\JwtCrossDomainAuth\Model\Data\AuthEvent" />
</config>