<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <jwt_crossdomain_auth>
            <general>
                <enabled>0</enabled>
            </general>
            <logging>
                <enabled>0</enabled>
                <log_file>jwt_auth.log</log_file>
            </logging>
        </jwt_crossdomain_auth>
    </default>
</config>